@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="passwordCtrl">

    <div class="panel panel-primary">
        <div class="panel-heading">
            Change Password
        </div>
        <div class="panel-body">
            <div class="col-md-6 col-md-offset-3 form-horizontal">
                <form name="form" novalidate>
                    <div class="form-group" show-errors>
                        <div class="col-md-4 padding-right-zero right">
                            <label class="control-label default-color">
                                Old Password
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="OldPasswordFromUser" ng-model="OldPasswordFromUser" required autofocus />
                            <b class="help-block" ng-if="form.OldPasswordFromUser.$error.required">Old password is required</b>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <div class="col-md-4 padding-right-zero right">
                            <label class="control-label default-color">
                                New Password
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" name="NewPassword" type="password" ng-model="NewPassword" required />
                            <b class="help-block" ng-if="form.NewPassword.$error.required">New password is required</b>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <div class="col-md-4 padding-right-zero right">
                            <label class="control-label default-color">
                                Confirm Password
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="ConfirmPassword" ng-model="ConfirmPassword" required data-password-verify="NewPassword" />
                            <b class="help-block" ng-if="form.ConfirmPassword.$error.required">Confirm password is required</b>
                            <b class="help-block" ng-if="form.ConfirmPassword.$error.passwordVerify">Password does not match</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button ng-click="ChangePassword()" class="btn btn-info" style="width: 150px">
                                Update Password <i class="glyphicon glyphicon-ok"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   </div>

    @*<div ng-controller="passwordCtrl">
        <div class="row">
            <br />
            <br />
            <br />
            <br />
            <div class="col-md-3"></div>
            <div class="col-md-6 form-horizontal" style="border: 10px solid #E2F4FB; border-radius: 15px; ">
                <span class="section-title">Change Password</span>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>*@

    <script type="text/javascript">

        //var app = angular.module('app', []);
        app.factory('passwordService', ['$http', function ($http) {
            return {
                updatePassword: function (userInfo) {
                    return $http({
                        url: '/Account/UpdatePassword',
                        method: 'POST',
                        data: userInfo
                    })
                },
                /*checkLogin: function (login) {
                    return $http({
                        url: '/Account/CheckLogin',
                        method: 'POST',
                        data: login
                    })
                },*/
                checkLogin: function (login, timeZoneOffset) {
                    var parameters = { user: login, timeZoneOffset: timeZoneOffset };
                    return $http({
                        url: '/Account/CheckLogin',
                        method: 'POST',
                        dataType: "json",
                        data: JSON.stringify(parameters)
                    });
                }
            };
        }]);

        app.controller('passwordCtrl', function ($scope, $http, $location, $timeout, passwordService, $log, $ngBootbox) {
            $scope.oldPasswordFromDb = '@Remit.Web.Helpers.UserSession.GetUserFromSession().Password';
            $scope.ChangePassword = function () {
                $scope.$broadcast('show-errors-check-validity');
                if ($scope.form.$valid) {

                    var userInfo = {};
                    userInfo["Id"] = '@Remit.Web.Helpers.UserSession.GetUserFromSession().Id';
                    userInfo["Password"] = $scope.OldPasswordFromUser;
                    userInfo["LoginName"] = '@Remit.Web.Helpers.UserSession.GetUserFromSession().LoginName';


                    //authenticate user
                    var dateObj = new Date();
                    var timeZoneOffset = -(dateObj.getTimezoneOffset());
                    passwordService.checkLogin(userInfo, timeZoneOffset)
                        .then(function onSuccess(response) {
                            //alert(response.data.UserId);
                            var userId = response.data.Id;
                            if (userId != null) {

                                userInfo["Password"] = $scope.NewPassword;
                                userInfo["LoginName"] = '@Remit.Web.Helpers.UserSession.GetUserFromSession().LoginName';
                                //change old password with new password
                                passwordService.updatePassword(userInfo)
                                    .then(function onSuccess(response) {
                                        if (response.data.isSuccess) {
                                            $ngBootbox.alert("Password updated successfully!");
                                            $timeout(function () {
                                                window.location = "/Account/Login";
                                            }, 3000);
                                        } else
                                            $ngBootbox.alert("Can't update password!");
                                    });
                            } else
                                $ngBootbox.alert('Wrong old password!');
                        });

                }
            };

            $scope.reset = function () {
                $scope.PasswordId = 0;
                $scope.Name = '';
                $scope.Country = 0;
            }
        });

    </script>
