@{
    ViewBag.Title = "Password Recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="loginCtrl">
    <div class="row">
        <br />
        <br />
        <br />
        <br />
        <div class="col-md-3"></div>
        <div class="col-md-6 form-horizontal centered" style="border: 10px solid #E2F4FB; border-radius: 15px; ">
            <span class="section-title">Password Recovery</span>
            <form name="form" novalidate>
                <div class="col-md-12 alert alert-info" style="font-size:12px;">
                    Please provide your User Id, your password will be sent to your E-mail address.
                </div>
                @*<div class="form-group" show-errors>
                    <div class="col-md-3">
                        <label class="control-label default-color">
                            Email
                        </label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="email address" name="emailAddress" ng-model="emailAddress" required autofocus />
                        <b class="help-block" ng-if="form.emailAddress.$error.required">Email is required</b>
                        <b class="help-block" ng-if="form.emailAddress.$error.email">Invalid email address</b>
                    </div>
                </div>*@


                <div class="form-group" show-errors>
                    <div class="col-md-3">
                        <label class="control-label default-color">
                            User Id
                        </label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" type="text" name="UserId" ng-model="UserId" required autofocus />
                        <b class="help-block" ng-if="form.UserId.$error.required">User Id Required</b>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-3 col-md-3">
                        <button ng-click="recoverPassword()" class="btn btn-info" style="width: 150px;text-align: center">
                            Submit <i class="glyphicon glyphicon-send"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <modal title="Success Message" visible="showModalforSearch">
                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                        <form name="form.update" role="form">
                            <div class="row">
                                <div class="col-md-12">

                                    <span>{{messageModalObj.message}}</span>
                                </div>
                            </div>

                        </form>
                    </modal>
                </div>
            </form>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>

<script type="text/javascript">

    app.factory('loginService', ['$http', function ($http) {
        return {
            recoverMyPassword: function (userprofile) {
                //emailUtility
                return $http({
                    url: '/Account/CheckPasswordRecovery',
                    method: 'POST',
                    data: userprofile
                })
            },
        };
    }]);app.controller('loginCtrl', function ($scope, $http, $timeout, $location, loginService, $log, $ngBootbox) {
        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        $scope.showModalforSearch = false;

        $scope.recoverPassword = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var userprofile = {};
                userprofile["Id"] = $scope.UserId;
                loginService.recoverMyPassword(userprofile)
                    .then(function onSuccess(response) {
                        if (response.data.messageSendStatus == true) {
                            $scope.messageModalObj.message = response.data.message;
                            $scope.showModalforSearch = true;
                            $timeout(function () { $scope.showModalforSearch = false; window.location = "/Account/Login/"; }, 3000);

                        }
                        else {
                            $scope.messageModalObj.message = response.data.message;
                            $scope.showModalforSearch = true;
                            $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                        }
                    })
                    .catch(function onError(response) {
                        $ngBootbox.alert('Error happend!');
                    });
            };
        }
    });</script>