@*@{
    ViewBag.Title = "Switch Role";
    var defaultRoleId = Remit.Web.Helpers.UserSession.GetUserProfileFromSession().DefaultRoleId;
    
        Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div ng-controller="switchRoleCtrl">
    <div class="row">
        <div class="col-md-12">

            <span class="form-title">Switch Role</span>
            <br />
            <fieldset class=" section-border">
                <legend class="section-border padding-bottom-three">Select Role</legend>
                <table class="table-bordered table-striped table-hover table" style="width:100%;">
                    <tr>
                        <td>Name</td>
                        <td>Select</td>
                    </tr>
                    <tr ng-repeat="list in Roles">
                        <td>
                            <button ng-click="userLoginPopUp(list)" class="btn btn-info col-md-offset-4 col-md-4">
                                As A {{list.Name}} <i class="glyphicon glyphicon-log-in"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </fieldset>

        </div>
          


     
        
    </div>
</div>

<script type="text/javascript">

    //var app = angular.module('app', []);
    app.factory('switchRoleService', ['$http', function ($http) {
        return {
            checkLogin: function (login) {
                return $http({
                    url: '/Account/CheckLoginWhenSwitch',
                    method: 'POST',
                    data: login
                })
            },
            getAssignRoleListById: function (id) {
                return $http.get('/Account/GetAssignRoleListById/' + id);
            },
            
        };
    }]);app.controller('switchRoleCtrl', function ($scope, $http, $location, switchRoleService, $log, $ngBootbox) {
        $scope.userLoginPopUp = function (list) {
         
            $scope.DefaultRoleId = list.RoleId;
            $scope.UserId = list.UserId;
            $scope.Password = list.Password;
            var login = {};
            login["Id"] = $scope.UserId;
            login["Password"] = $scope.Password;
            login["DefaultRoleId"] = $scope.DefaultRoleId;
            switchRoleService.checkLogin(login)
                                .then(function onSuccess(response) {
                                   // alert(response.data.UserId);
            var userId = response.data.UserId;
                                    if (userId != null) {
                                        var defaultRoleId = response.data.DefaultRoleId;
                                        //alert(defaultRoleId)
                                        if (defaultRoleId == 1)
                                            window.location = "/Dashboard/ShowAdminPage/" + userId; //"/Appointment/ShowAppointmentList/" + userId;
                                        else if (defaultRoleId == 2)
                                            window.location = "/Dashboard/ShowDoctorPage/" + userId; //"/Appointment/ShowAppointmentList/" + userId;
                                        else if (defaultRoleId == 3)
                                            window.location = "/Dashboard/ShowPatientPage/" + userId;
                                        else if (defaultRoleId == 4)
                                            window.location = "/Dashboard/ShowDoctorAssistantPage/" + userId;
                                        else if (defaultRoleId == 5)
                                            window.location = "/Dashboard/ShowChamberAssistantPage/" + userId;
                                        else if (defaultRoleId == 7)
                                            window.location = "/Dashboard/ShowPharmacistPage/" + userId;
                                        else
                                            $ngBootbox.alert("No view available yet!");
                                    } else
                                        $ngBootbox.alert('Wrong user id or password!');
                                });
        }

        loadAllAssignRole();
        function loadAllAssignRole() {
            $scope.Roles = {};
            switchRoleService.getAssignRoleListById('@Remit.Web.Helpers.UserSession.GetUserProfileFromSession().Id')
                .then(function onSuccess(response) {
                    $scope.Roles = response.data;
            }).error(function () {
                $ngBootbox.alert('Error');
            });

        }






    });</script>*@